#!/bin/bash

## Path to input.csv file
INPUT_FILE=""

## Path to output.csv
OUTPUT_FILE=""

## Compile packages
javac -d . src/Semester.java
javac -d . src/Helper.java

## Run main program
java src/Main.java $INPUT_FILE $OUTPUT_FILE
